/*Structure*/
body {
	font-family: 'Lato', sans-serif;
}
#masthead {
	position: relative;
}
.menu-overlay {
	position: fixed;
	z-index: 11;
	-webkit-transition: background .25s ease, display .25s .25s;
	-o-transition: background .25s ease, display .25s .25s;
	transition: background .25s ease, display .25s .25s;
	width: 100%;
	height: 100%;
}
.menu-overlay.menu-closed {
	display: none;
	background: rgba(0,0,0,0);
}
.menu-overlay.menu-opened {
	display: block;
	background: rgba(0,0,0,0.8);
}
/*menu-pane*/
.menu-pane-container.opened {
	position: fixed;
	z-index: 1004;
	width: 80%;
	height: 100vh;
	max-width: 800px;
	top: 0;
	right: 0;
	overflow: hidden;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
.menu-pane-container.closed {
	width: 0;
}
#menu-pane {
	position: absolute;
	height: 100%;
	width: 100%;
	background: #FFFFFF;
	border-left: 20px solid #FFC600;
	padding: 20px 30px;
	overflow-y: scroll;
	left: 0;
	top: 0;
}
#menu-pane::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/*primary menu*/
#primary-menu ul li {
	display: block;
	float: none;
}

/*front-page*/
#front-page-section {
	width: 100%;
	height: 100vh;
	min-height: 500px;
	max-height: 1280px;
	background: #000000;
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
	position: relative;
	z-index: 10;
	/*overflow: hidden;*/
}
#front-page-section .parallax-container {
	background: #000000;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#front-page-section .parallax-bg {
	background: url('../img/bg/angel2.jpg');
	background-size: cover;
	background-repeat: none;
	background-position: center center;
	position: absolute;
	top: -25%;
	z-index: 1;
	width: 100%;
	height: 150%;
}
#front-page-section .overlay {
	background: rgba(0,0,0,0.5);
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
#front-page-section .overlay .container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -100%);
	text-align: center;
	color: #FFFFFF;
	z-index: 3;
}
#front-page-section .overlay .container h2 {
	font-family: 'Roboto Slab', serif;
	font-size: 4em;
	letter-spacing: 0.3em;
	margin: 0;
	font-weight: 400;
}
#front-page-section a.btn-large:link,
#front-page-section a.btn-large:visited {
	color: #FFFFFF;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.2em;
	padding: 10px 40px;
	border: 2px solid #FFFFFF;
	margin: 15px 0 0;
	display: inline-block;
	-webkit-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
#front-page-section a.btn-large:hover {
	border-color: #FFC600;
	background: #FFC600;
	color: #000000;
}
#site-nav.front-page {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	background: rgba(0,0,0,0.3);
}
#site-nav.not-front-page {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	background: #000000;
}
#site-nav .nav-wrapper {
	margin: 0 auto;
	padding: 30px 0;
	height: 90px;
	width: 100%;
	max-width: 1200px;
	position: relative;
}
.spacer {
	height: 90px;
}
#site-nav .nav-wrapper a.home-button img {
	position: absolute;
	bottom: 15px;
	left: 50%;
	transform: translateX(-50%);
	height: 60px;
	width: auto;
	-webkit-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
#site-nav .nav-wrapper a.home-button:link img.hoverlogo,
#site-nav .nav-wrapper a.home-button:visited img.hoverlogo {
	opacity: 0;
	-webkit-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
#site-nav .nav-wrapper a.home-button:hover img.hoverlogo {
	opacity: 1;
}
#site-nav .nav-wrapper a.menu-btn-left {
	position: absolute;
	left: 15px;
	bottom: 15px;
	display: block;
	-webkit-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
#site-nav .nav-wrapper a.menu-btn-left img {
	height: 48px;
	-webkit-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
#site-nav .nav-wrapper a.menu-btn-left img.hover {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}
#site-nav .nav-wrapper a.menu-btn-left:hover img.original {
	opacity: 0;
}
#site-nav .nav-wrapper a.menu-btn-left:hover img.hover {
	opacity: 1;
}
#site-nav .nav-wrapper a.menu-btn-right {
	position: absolute;
	right: 15px;
	bottom: 15px;
	display: block;
	-webkit-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
	color: #FFFFFF;
}
#site-nav .nav-wrapper a.menu-btn-right:hover {
	color: #FFC600;
}
#site-nav .nav-wrapper a.menu-btn-right i{
	
	font-size: 3em;
}
/*nav scrolled*/
#site-nav.scrolled {
	background: rgba(0,0,0,1);
}

